.DziennikContainer {
    height: calc(80vh - 50px);
}

.DziennikOverflow {
    height: calc(80vh - 100px);
    
}

.ProgressBarContainer{
    margin-top: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;   
}

.ProgressBar{    
    display: flex;
    border: 2px solid rgba(81, 122, 66, 0.79);
    border-radius: 25px;
    height: 26px;
    width: 100%;
}

.Dot{    
    height: 20px;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 25px;
    width: 4px;
    background-color: rgba(81, 122, 66, 0.79);
    /* border: 2px solid #D0D1D3; */
    cursor: pointer;
    z-index: 10;
}
.Dot:hover {
    background-color: #504137;
    /* border: 2px solid rgba(81, 122, 66, 0.79) */
    
}

.ProgressDate {
    padding-top: 30px;
    margin-left: -7px;
}



.TimeContent { 
    height: calc(80vh - 180px);    
    overflow: auto;    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.TimePhoto {
    width: 100%;
}