#root {
  background-color: #bfbfbf
}

body {
  
  margin: 0px;
  padding: 0px;  
  font-family: 'Open Sans', sans-serif !important;
}

@media(min-width: 980px) {
  .AppContainer {
    display: flex !important;
    margin: auto;
    flex-direction: row !important;
    padding: 0px !important;  
    
    background-color: #efefef !important;
  }

  .pageContent {  
    height: 80vh;
    background-color: white;
    overflow: hidden; 
    position: relative;
  }

  .leftMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    min-width: 215px
  }

  .contentContainer {
    display: flex;
    width:100%;
    max-width: 1400px;
    flex-direction: column
  }

  .localisation {
    display: flex;
    flex-direction: row; 
    height: 100%;   
    
  }

  .localisationText {    
    width: 50%;
    overflow: auto;    
  }

  .localisationMap {
    width: 50%;
    padding: 15px    
  }

  .menuBottomLeft {
    height: 20vh;
    padding-left: 20px;
    text-align: left;
    background-color: #D0D1D3;
    padding-top: 20px
  }

  .rightBar {
    width: 10%; 
    display: flex;
    background-color: #517A42;
    flex-direction: column 
  }

  .menuBottom {
    padding-left: 65px;
    margin-top: auto;
    margin-bottom: auto
  }  

  .homeGallery {  
    padding-top: 50px;
    position: absolute;
    bottom: 0;  
    width: 100%;   
  }

  .imageAuto {
    height: 94%;
    padding: 15px
   }

   .imageAutoWidth {
     width: 100%;
     padding: 15px
   }

   .imageAutoHeight {
    height: 45%;
    padding: 15px;
    margin: auto
  }
 
   .plansAuto {
     width: 100%;
     padding: 15px
   }

   .plans {    
    padding-top: 50px;
    text-align: center;
    width: 50%;
  }

  .devImages { 
    width: 45%;  
    padding-top: 50px;
    text-align: center;    
    display: flex;
    flex-direction: column
  }

  .infoText {
    padding: 100px 63px 25px !important;
  }

  .map{
    padding-top: 49px;
    width: 100%;
    height: 100%;
  }
}

@media(max-width: 980px) {
  .AppContainer {
    display: flex !important;
    margin: auto;
    flex-direction: column !important;
    padding: 0px !important;  
    
    background-color: #efefef !important;
  }

  .pageContent {      
    background-color: white;
    overflow: hidden; 
    position: relative;
    order: 2
  }

  .leftMenu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%
  }

  .contentContainer {
    display: flex;
    width:100%;
    flex-direction: column
  }

  .localisation {
    display: flex;
    flex-direction: column; 
    height: 100%;   
    
  }

  .localisationText { 
    height: 50vh;   
    width: 100%;
    overflow: auto;    
  }

  .localisationMap {
    height: 50vh;
    width: 100%;
    padding: 15px    
  }

  .menuBottom {
    min-width: 350px;
    padding-left: 0px;    
  }
  
  .menuBottom a {
    
    padding: 10px !important
  }
  .rightBar {
    display: none !important;
    width: 10%; 
    display: flex;
    background-color: #517A42;
    flex-direction: column 
  }
  .homeGallery {  
    padding-top: 50px;    
    bottom: 0;  
    width: 100%;    
  }

  .imageAuto {
    width: 100%;
    padding: 15px
   }

   .imageAutoHeight {
    height: 45%;
    padding: 15px
  }
 
   .plansAuto {
     width: 100%;
     padding: 10px
   }

   .plans {        
    text-align: center;
    width: 100%;
  }
  

  .devImages {    
    padding-top: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column
  }

  .imageAutoHeight {
     padding: 15px;
     width: 100%
  }

  .infoText {
    padding: 100px 60px 10px !important;
  }

  .map{
    padding: 5px;
    width: 100%;
    height: 100%;
  }
}



.title {
  position: absolute;
  background-color: #efefef;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 60px;
  z-index: 10;
}











.menuGreenBar {
  height: 50px;
  width: 100%;
  background-color: #517A42
}

.menuLogo {
  width: 90%;
  margin: 0 auto 0 auto
  
  }

  .menuTop {
    height: 80vh;
  }

 

  

  

  

  

  