#root {
  background-color: white
}

body {
  
  margin: 0px;
  padding: 0px;  
  /* font-family: 'Open Sans', sans-serif !important; */
}

div ::-webkit-scrollbar {
  display: none;
}

@media(min-width: 1540px){
  .image-gallery-image img {
    height: auto !important;
    width: 100% !important
  }
  
}

@media screen and (min-width: 903px) and (max-width: 1540px){
  .image-gallery-image img {
    height: 80vh;
    width: auto !important
  }
  
}


@media(min-width: 903px) {
  .mobileBottomBar {
    display: none !important
  }
  .mobileNavBar {
    display: none
  }

  .AppContainer {
    display: flex !important;
    margin: auto;
    flex-direction: row !important;
    padding: 0px !important;  
    max-width: 1920px;
    background-color: white !important;
  }

  .pageContent {  
    height: calc(80vh - 50px);
    background-color: white;
    overflow: hidden; 
    position: relative;
  }

   
  .pageContent div {
    animation: fadein 1s;   
  }
  
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }

  .leftMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    max-width: 500px;
    min-width: 215px;
    background-color: #efefef
  }

  .contentContainer {
    display: flex;
    width:80%;    
    flex-direction: column;
    background-color: #efefef
  }

  .localisation {
    display: flex;
    flex-direction: row; 
    height: 99%;   
    
  }

  .localisationText {    
    width: 50%;
    min-width: 480px;
    overflow: auto   
  }

  

  .localisationMap {
    width: 50%;
    padding: 15px    
  }

  .bottomeNavBar{
    display: flex !important
  }

  .menuBottomLeft {
    height: 20vh;
    padding-left: 20px;
    text-align: left;
    background-color: #D0D1D3;
    padding-top: 20px
  }

  .menuBottom {    
    width: 70%;
    min-width: 650px;
    margin: 0;
    display: flex;
    height: 7vh;
    position: relative;
    display: flex;
    background-color: #517A42 !important  
  } 

  .menuItem {
    cursor: pointer;
    z-index: 9;
    padding: 15px;
    margin: auto
  }

  .rightBar {
    width: 5%; 
    display: flex;
    background-color: #EFEFEF;
    flex-direction: column 
  }

   

  .homeGallery {  
    position: absolute;
    bottom: 0;  
     
  }

  

  .imageAuto {
    height: 90%;
    padding: 15px
   }

   .imageAutoWidth {
     width: 100%;
     padding: 15px
   }

   .imageAutoHeight {
    height: 43%;
    padding: 15px;
    margin: auto
  }
 
   .plansAuto {
     width: 100%;
     padding: 15px
   }

   .plans {    
    
    text-align: center;
    width: 50%;
  }

  .plans div {
    margin: auto
  }

  .devImages { 
    width: 50%;      
    padding-top: 50px;
    text-align: center;    
    display: flex;
    flex-direction: column
  }

  

  .infoText {
    padding: 50px 63px 25px !important;
    
  }

  .map{
    
    width: 100%;
    height: 100%;
  }

  .mobilePlans{
    display: none
  }

  .devNavButtons {
    display: flex; 
    margin: auto
  }

  .legalInfo {
    display: flex;
    padding-left:15px;
    padding-right:15px;
    width: 80%;    
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    font-size: 10px
  }
}



.title {
  display: flex;
  background-color: #efefef;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 60px;
  z-index: 10;
}

.titleItem {
  width: calc(50% - 10px)
}

.titleItemSecondary {
  text-align: center;
  width: calc(50% - 10px)
}


.menuGreenBar {
  height: 50px;
  width: 100%;
  background-color: #517A42
}

.menuLogo {
  width: 90%;
  margin: 0 auto 0 auto
  
  }

  .menuTop {
    height: 80vh;
  }

  .imgMenu{    
    margin: auto !important;
    padding-bottom: 5px         
  }
  
  .ui.button {
    margin: 3px
  }

  
  
  @media(max-width: 903px) {

    .legalInfo {
      display: none
    }

    .imageAutoWidth {
      width: 100%;
      padding: 15px
    }

    .imageAutoHeight {
      padding-top: 10px;
      height: auto;
      width: 100%
    }

    .devNavButtons {
      display: flex; 
      flex-direction: column;
      margin: auto
    }

    .infoText {
      
    padding-bottom: 20px 
    }

    .plans {
      display: none
    }

    .image-gallery-image img {
      height: auto;
      width: 100%
    }

    .leftMenu {
      display: none
    }

    .bottomeNavBar {
      display: none
    }    

    .mobileNavBar{
      display: flex;
      width: 100%;
      margin-bottom: -50px;
      padding: 15px;
      position: relative;
      z-index: 10;
      background-color: #efefef;      
    }

    .mobileMenu {
      margin-top: -15px;
      padding-left: 5px;
    }

    .menuItem {
      cursor: pointer;
      z-index: 9;
      padding: 15px;
      margin: auto
    }

    .titleItemSecondary {
      display: none
    }

    .pageContent {  
      height: calc(87vh - 50px);
      background-color: white;
      padding: 18px;
      overflow-y: scroll; 
      position: relative;
    }
  
    .mobileBottomBar {
      z-index: 10;
    }
     
    .pageContent div {
      animation: fadein 1s;   
    }
    
    @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
    }

    
  
  }
  
  @media only screen and (min-width : 420px) and (max-width : 850px)  {
    .mobileBottomBar {
      display: none !important
    }
  
    .pageContent {  
      height: calc(95vh - 50px) !important;
      background-color: white;
      padding: 18px;
      overflow-y: scroll; 
      position: relative;
    }
  }

  

  

  