.w19-backgroundBox {
  background-color: rgb(37,36,43) !important;
  width:100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.w19-topSpace {
  margin-top: 5rem;
    margin-bottom: 5rem;
    
}

.w19-border {
  width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: -35px */
    
}

.w19-item {
  display: block;
}

.w19-item-title {
  position: relative;
    z-index: 1;
    margin-bottom: -3rem;
    display: flex!important;
}

.w19-item-box {
  background-color: rgb(162,137,129);
  padding: 10px 13px 10px 13px;
  margin-left: auto!important;
  /* padding: 3rem!important; */
  display: flex!important;
  
}

.w19-back {
  background-color: rgb(162,137,129);
  position: fixed;
  padding: 5px;
  text-decoration: none;
}

.w19-back:link {
  color: black
}
.w19-back:visited {
  color: black
}

.w19-item-img {
  position: relative;
    z-index: 0;
    /* max-width: 60vw; */
    display: flex!important;    
    margin-bottom: 0!important;
    margin-left: auto!important;
    margin-right: auto!important;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}

.w19-right {
  margin-right: auto!important;
}

.w19-left {
  margin-left: auto!important;
}

.w19-item-description {
  position: relative;
    z-index: 1;
    /* margin-top: -3rem; */
    /* max-width: 50vw; */
    border-radius: .25rem!important;
    display: flex!important;
    box-sizing: border-box;
}
.w19-item-description-box {
  background-color: rgb(162,137,129);
  padding: 3rem!important;
  
  box-sizing: border-box;
  display: block;
}

.w19-border div {
  animation: fadein 2s; 
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@media(min-width: 1000px) {
  .w19-item-description-box {
    padding: 3rem!important;
  }
  
}

@media(max-width: 1000px) {
  .w19-item-description-box {
    padding: 1rem!important;
  }
  
}


@media(max-width: 700px) {
  .w19-item-description {
    margin-top: 0;
    max-width: auto;
  }
  .w19-item-img {
    max-width: 100%;
  }  
  .w19-border {
    margin-top: auto
  }
}

@media(min-width: 700px) {
  .w19-item-description {
    margin-top: -3rem;
    max-width: 50vw;
      }
  .w19-item-img {
    max-width: 60vw;
  }    
  .w19-border {
    margin-top: -35px
  }
}